client/package-lock.json
client/UI Design/node_modules
data/package-lock.json
data/node_modules
data/data.json
data/raw_data.json

.vscode/

# Python specific ignores
sat/log.*
sat/plans
sat/access.log
sat/*.sqlite
venv/
__pycache__/
